* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

h2 {
    font-size: 2rem;
}


/* container */

.container {
    margin-top: 3rem;
}

.body-head-content {
    margin-bottom: 2rem;
}

.form-row {
    margin-top: 1rem;
}

.card-modal  {
    width: 35%;
    align-content: center;

    position: fixed;
    left: 32%;

    transition: opacity 1s ease;
}

.form-input {
    background-color: rgba(250, 235, 215);
    padding: 2rem 3rem;
}


.alert-content {
    display: flex;
    flex-direction: column;
}

.confirm-card {
    background-color: rgba(250, 235, 215);
    padding: 2rem 0;
    top: 23%;

}

.confirm-header, .confirm-body{
    border-bottom: 1px solid #565e64;
    padding: 0 2rem;
}

.confirm-footer{
    padding: 0 2rem;

}
