* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* container */

.container {
  margin-top: 3rem;
}

.body-head-content {
  margin-bottom: 2rem;
}

.form-row {
  margin-top: 1rem;
}

.form {
  background-color: antiquewhite;
  padding: 2rem 3rem;

  width: 55%;
  align-content: center;
}
